.header-bar {
    background-color: #d6eff0;
    padding: 5px;

    h1 {
        font-size: 32px;
    }

    .filter-select {
        display: flex;
        justify-content: flex-end;
        align-content: center;
    }
}