.products-display {
    .product-card {
        padding: 10px;
        border: 1px solid #ccc;

        figure {
            display: flex;
            justify-content: center;
        }

        .tag {
            padding: 10px;
            color: white;
            font-size: 12px;
            display: inline-block;
            margin: 5px 0;

            &.sale {
                background: #ce0303;
            }

            &.exclusive {
                background: #13940b;
            }
        }

        .product-info {
            display: flex;

            .name {
                flex: 1;
                font-size: 14px;
                font-weight: 700;
                display: inline-flex;
                align-items: flex-end;
            }

            .price { 
                flex: 1;
                font-size: 22px;
                font-weight: 700;
                display: inline-flex;
                align-items: flex-end;
                justify-content: flex-end;
            }
        }
    }
}